        {% if org_features is defined and org_features and org_features.get('hub_tabs') %}
        <!-- Tab Bar (browser-within-browser) -->
        <div class="tab-bar" id="tabBar">
            <div class="tab-bar__tabs" id="tabList">
                <button class="tab-bar__tab active" data-tab="home">
                    <i class="fas fa-home"></i>
                    <span class="tab-bar__title">Home</span>
                </button>
            </div>
            <button class="tab-bar__add" id="addTabBtn" title="Nova aba">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="tab-content-area" id="tabContentArea">
            <div class="tab-pane active" id="tab-home">
        {% endif %}
